{% load static %}

{% block body %}

{% include 'recuiter_navigation.html' %}

<marquee style="font-family: 'Monotype Corsiva'; font-size:25px; color:lightgreen; background-color:black; font-weight:bold; margin-top:1%">
    Add Job Details
</marquee>
<hr>
<form class="container mt-5" onsubmit="return checkpass();" name="signup" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-12" >
            <label>Job Title:</label>
            <input type="text" class="form-control" name="jobtitle" placeholder="Enter Job Title" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6" >
            <label>Start Date:</label>
            <input type="date" class="form-control" name="startdate" required>
        </div>

        <div class="form-group col-md-6" >
            <label>End Date:</label>
            <input type="date" class="form-control" name="enddate" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6" >
            <label>Salary(Per Month):</label>
            <input type="text" class="form-control" name="salary" placeholder="Enter Salary" required>
        </div>

        <div class="form-group col-md-6" >
            <label>Company Logo:</label>
            <input type="file" class="form-control" name="logo" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6" >
            <label>Experience(In Years):</label>
            <input type="text" class="form-control" name="experience" placeholder="Enter Experience" required>
        </div>
        <div class="form-group col-md-6" >
            <label>Location:</label>
            <input type="text" class="form-control" name="location" placeholder="Job Location" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12" >
            <label>Skils:</label>
            <input type="text" class="form-control" name="skills" placeholder="Skills Required" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12" >
            <label>Description:</label>
            <textarea class="form-control" name="description" required></textarea>
        </div>
    </div>

    </div>
<input type="submit" value="Submit" class="btn btn-primary my-3" style="width:200px">
</form>

{% include 'footer.html' %}

{% if error == "no" %}
<script>
    alert("Job Added Successfully")
    window.location = ('{% url 'job_list' %}')
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Somthing Wrong, Try Again...")
</script>
{% endif %}

{% endblock %}


{% include 'footer.html' %}