{% load static %}

{% block body %}

{% include 'user_navigation.html' %}
<script>
    function togglePassword(fieldId, iconId) {
        var field = document.getElementById(fieldId);
        var icon = document.getElementById(iconId);
        if (!field || !icon) return;
        if (field.type === 'password') {
            field.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            field.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }
</script>

<script>
    function checkpass()
    {
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
    {
    alert('New Password and Confirm Password field does not match');
    document.changepassword.newpassword.focus();
    return false;
    }
    return true;
    }
</script>

<marquee style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcyan; background-color:black; font-weight:bold; margin-top:1%">
        Change Password
</marquee>
<hr>

<form class="container mt-5" method="post" name="changepassword" onsubmit="return checkpass()">
    {% csrf_token %}
    <label><b>Current Password:</b></label>
    <div class="input-group">
        <input type="password" id="currentPasswordUser" class="form-control" name="currentpassword" required="true">
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" onclick="togglePassword('currentPasswordUser', 'currentPasswordUserEye')">
                <i id="currentPasswordUserEye" class="fa fa-eye"></i>
            </button>
        </div>
    </div>

    <label><b>New Password:</b></label>
    <div class="input-group">
        <input type="password" id="newPasswordUser" class="form-control" name="newpassword" required="true">
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" onclick="togglePassword('newPasswordUser', 'newPasswordUserEye')">
                <i id="newPasswordUserEye" class="fa fa-eye"></i>
            </button>
        </div>
    </div>

    <label><b>Confirm Password:</b></label>
    <div class="input-group">
        <input type="password" id="confirmPasswordUser" class="form-control" name="confirmpassword" required="true">
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" onclick="togglePassword('confirmPasswordUser', 'confirmPasswordUserEye')">
                <i id="confirmPasswordUserEye" class="fa fa-eye"></i>
            </button>
        </div>
    </div>

    <input type="submit" class="btn btn-primary" style="margin-top:2%; color:darkcyan; background-color:black ; height:50px; font-size:25px">
</form>
{% include 'footer.html' %}

{% if error == "no" %}
<script>
    alert("Password Changed Successfully")
    window.location = '{% url "logout" %}';
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Please check your details and try again.")
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert("Your Current Password is wrong")
</script>
{% endif %}

{% endblock %}


