{% load static %}

{% block body %}

{% include 'navigation.html' %}

<marquee style="font-family: 'Monotype Corsiva'; font-size:25px; color:darkcyan; background-color:black; font-weight:bold; margin-top:1%">
    Forgot Password
</marquee>
<hr>

<div class="container mt-5">
    <form method="post" class="col-md-6 mx-auto border p-4 rounded" data-reset-on-back="true">
        {% csrf_token %}
        <label><b>Registered Email or Mobile Number:</b></label>
        <input type="text" class="form-control" name="identifier" value="{{ identifier }}" placeholder="Enter your registered email or mobile number" required>

        {% if error == 'invalid' %}
        <div class="alert alert-danger mt-3">User not found. Please create an account.</div>
        {% endif %}

        <button type="submit" class="btn btn-primary mt-3" style="color:darkcyan; background-color:black; height:50px; font-size:22px">Send OTP</button>
        <a href="{% url 'user_login' %}" class="btn btn-secondary mt-3 ml-2" style="height:50px; font-size:22px">Back to Login</a>
    </form>
</div>

{% include 'footer.html' %}
{% endblock %}
